<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todolist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/noteupicon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/noteupicon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Agregar" android:noHistory="true"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".Configuracion" android:noHistory="true"></activity>
        <activity android:name=".AcercaDe" android:noHistory="true"></activity>
        <activity android:name=".Ayuda" android:noHistory="true"></activity>

    </application>

</manifest>